/*GLOBALS*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Source+Sans+3:wght@400;600&display=swap');
p, ul, li, ol {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
    font-size:18px;
    font-weight:400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    color:var(--dark);
}
a {
    font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    max-width:100%;
    overflow-x:hidden;
}
:root {
--dark: #3e3876;
--light: #60bce6;
--ultralight: #e4f5ff;
}
#navbar, section, .container {
    width:100%;
    max-width:unset !important;
}
.body-section {
    max-width:1200px;
    margin:0 auto;
    padding:60px 0;
}
.body-section .container > .row {
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.section-photo-wrap {
    display:inline-block;
    position:relative;
}
/*Meh...*/
.one-half.column:nth-of-type(even) 
.section-photo-wrap {
    float:right !important;
}

.section-photo-wrap::after {
    display:block;
    position:absolute;
    top:10px;
    left:14px;
    content:'';
    width:100%;
    height:100%;
    border:2px solid var(--light);
    z-index:0;
}
    .section-photo-wrap img {
    position:relative;
    max-width:480px;
    z-index:1;
}

/*NAV*/
#navbar {
    max-width:100%;
    padding: 0 100px;
    box-sizing:border-box;
}
#navbar .container {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    height:120px;
}
.site-logo {
    flex:0 1 10%;
}
.site-logo img {
    width:200px;
}
.site-nav {
    flex:0 1 90%;
    display:flex;
    justify-content:flex-end;
}
.site-nav ul {
    display:flex;
    list-style:none;
    padding-top:30px;
    align-items:center;
}
.site-nav ul a {
    font-family: 'Source Sans 3', sans-serif;
    font-weight:700;
    font-size:1.7rem;
    color:var(--dark);
    text-decoration:none;
    margin-left:40px;
}
.button-primary svg {
    width:20px;
    fill:white;
    margin:0 5px -5px -10px;
}
/*HOME*/
.hero {
    min-height:75vh;
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    padding:0 100px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans 3', sans-serif;
}
p, a, ul, ol, li, span {
    font-family: 'Lato', sans-serif;
    font-weight:300;
}
.hero h1 {
    font-weight:600;
    font-size:4rem;
    color:white;
}
.hero h4 {
    font-weight:400;
    font-size:3rem;
    color:white;
}
.center-text {
    padding:20px 0;
}
.banner {
    background:rgba(62,56,118,0.9);
    padding:40px;
    margin:100px 0;
    max-width:600px;
}

.row.counters * {
    color:var(--dark);
    font-weight:600;
    text-align:center;
}
.row.counters {
    max-width:1200px;
    margin:0 auto;
}
.row.counters h1 {
    font-size:60px;
    margin-bottom:0;
}

.section.grey {
    background:#eee;
    padding:60px 0 20px 0;
    text-align:center;
}
.section.grey .row {
    max-width:1200px;
    margin:0 auto;
    padding:0 40px;
}
.section.grey img {
    width:300px;
    max-width:15vw;
}
.section.grey h1 {
    margin-bottom:-20px;
}

.row:has(.bullet-section) {
    background:#eee;
    padding:40px;
  }
  .column:has(.four-photos):nth-child(2)
   span {
    float:right;
  }
  .four-photos {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    max-width:80%;
  }
  
  .four-photos img {
    max-width:100%;
  }
  @supports (object-fit:cover) {
   .four-photos img {
    height: 100%;
    object-fit: cover;
   }
  }
  
  .bullets ul li {
    list-style-image: url('../images/checkbox.svg') !important;
    list-style-position: inside;
}
